/* styles.css */

:root {
    --color-1: rgb(157, 157, 248);
}

* {
  padding: 0;
  margin: 0;
}

html {
    scroll-behavior: smooth;
}

/* content */
#content {
  min-height: 100%;
  display: flex;
  flex-direction: column;
}

.header-section {
  max-width: 100%;
  height: auto;
}

.header {
  padding: 30px;
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: var(--color-1);
  padding-bottom: 60px;
  clip-path: polygon(0 0, 100% 0, 100% 88%, 0 100%);
}
.profile-picture-img {
    width: 250px;    
    object-fit: cover;
    border-radius: 12px;
    overflow: hidden;
}

.user-name {
        position: absolute;
        top: 370px;
        z-index: 99;
        color: white;
        text-shadow: 5px 3px 2px black;
        font-family: serif;
        font-size: 2rem;
        font-weight: 200;
        line-height: 0.5em;
        pointer-events: none;
}

.right-header {
  background-color: white;
  padding: 20px;
  min-height: 150px;
  max-width: 350px;
}

.right-header p {
  padding: 10px;
}

.contact-links ul {
  list-style-type: none;
  display: flex;
  flex-direction: row;
  justify-content: end;
}

.contact-links ul li {
  padding: 3px;
}

ul li a {
  display: flex;
  align-items: center;
  text-decoration: none;
  padding: 0.2em 0;
}

h3 {
  font-size: 2em;
}
.projects {
    position: relative;
    background-color: white;
    max-width: 100%;
    height: auto;
    padding: 1rem;
    padding-bottom: 50px;
}

.project-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 2em;
    padding: 20px 20px 50px 20px;
    min-height: 700px;
    min-width: 300px;
}

.card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    max-height: 300px;
    max-width: 300px;
    padding: 1em;
    background-color: white;
    border:  solid black 2px;
    border-radius: 10px;
    box-shadow: 2px 2px 7px 1px rgb(207, 206, 206);
}

.project-img {
    height: 200px;
    width: auto;
    border-radius: 10px;
    border: 2px solid black;
    margin: 10px 20px;
}

.title {
  display: flex;
  flex-direction: row;
  gap: 150px;
}

.footer {
  background-color: var(--color-1);
  padding: 20px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.contact > * {
  padding: 8px;
}

.contact ul {
  list-style-type: none;
  display: flex;
  flex-direction: column;
}

#footer-contact-links {
  flex-direction: row;
  justify-content: flex-start;
}
.working-image {
  width: 350px;
}

@media screen and (max-width: 675px) {
    .header {
      flex-direction: column;       
    }  
    .footer {
      flex-direction: column;
    }
    #footer-contact-links {
      justify-content: center;
    }
}